XTerm.termName: xterm-256color
XTerm.vt100.locale: true
XTerm.vt100.metaSendsEscape: true
XTerm.vt100.backarrowKey: false
XTerm.*.font: *-fixed-*-*-*-18-*
XTerm.ttyModes: erase ^?
!XTerm.vt100.reverseVideo: true
XTerm.vt100.translations: #override \n\
    Ctrl <Key> minus: smaller-vt-font() \n\
    Ctrl <Key> plus: larger-vt-font()
XTerm*renderFont: true
XTerm*faceName: Bitstream Vera Serif Mono
XTerm*faceSize: 12
XTerm*inputMethod: ibus
XTerm*preeditType: OverTheSpot
XTerm*utf8: 1
XTerm*font: -*-terminus-medium-*-*-*-18-*-*-*-*-*-iso10646-1
!!! Foreground
xterm*foreground:       #d3d3d3
xterm*background:       #211C1C
 
 
!!! Background
! Black
!xterm*background: #000000
! Green
!xterm*background: #022C0A
! Brown
!xterm*background: #3F2F08
! Black
 
 
xterm*cursorColor:  #ff0000
!xterm*cursorColor:  #57fd76
!xterm*cursorColor:  yellow
!xterm*cursorColor:      orange
 
!xterm*charClass:        33:48,35-38:48,39:43,42-47:48,58-59:48,61:48,63-64:48,126:48
!xterm*dynamicColors:    true
 
 
! Blacks
xterm*color0:           #151515
xterm*color8:           #505450
! Reds
xterm*color1:           #a60101
xterm*color9:           #f99090
! Greens
xterm*color2:           #026802
xterm*color10:          #a7e14b
! Yellows
xterm*color3:           #ab6e03
xterm*color11:          #fddc01
! Blues
xterm*color4:           #4a5463
xterm*color12:          #7d8794
! Purples
xterm*color5:           #9c3885
xterm*color13:          #e628ba
! Cyans
xterm*color6:           #08bab0
xterm*color14:          #74fff7
! Whites
xterm*color7:           #bbbbbb
xterm*color15:          #ffffff
